Is2103Assignment2AMSClient/src/conf/wsdl/localhost_8080/IS2103Assignment2WebService/IS2103Assignment2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="IS2103Assignment2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/IS2103Assignment2WebService/IS2103Assignment2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="patientLogin">
<part name="parameters" element="tns:patientLogin"/>
</message>
<message name="patientLoginResponse">
<part name="parameters" element="tns:patientLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="createNewPatient">
<part name="parameters" element="tns:createNewPatient"/>
</message>
<message name="createNewPatientResponse">
<part name="parameters" element="tns:createNewPatientResponse"/>
</message>
<message name="EntityInstanceExistsInCollectionException">
<part name="fault" element="tns:EntityInstanceExistsInCollectionException"/>
</message>
<message name="createNewAppointment">
<part name="parameters" element="tns:createNewAppointment"/>
</message>
<message name="createNewAppointmentResponse">
<part name="parameters" element="tns:createNewAppointmentResponse"/>
</message>
<message name="DoctorNotFoundException">
<part name="fault" element="tns:DoctorNotFoundException"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="AppointmentAlreadyCancelledException">
<part name="fault" element="tns:AppointmentAlreadyCancelledException"/>
</message>
<message name="EntityMismatchException">
<part name="fault" element="tns:EntityMismatchException"/>
</message>
<message name="retrieveDoctorByDoctorId">
<part name="parameters" element="tns:retrieveDoctorByDoctorId"/>
</message>
<message name="retrieveDoctorByDoctorIdResponse">
<part name="parameters" element="tns:retrieveDoctorByDoctorIdResponse"/>
</message>
<message name="retrieveDoctorsAvailableOnDate">
<part name="parameters" element="tns:retrieveDoctorsAvailableOnDate"/>
</message>
<message name="retrieveDoctorsAvailableOnDateResponse">
<part name="parameters" element="tns:retrieveDoctorsAvailableOnDateResponse"/>
</message>
<message name="retrieveAppointmentByPatientIdentityNo">
<part name="parameters" element="tns:retrieveAppointmentByPatientIdentityNo"/>
</message>
<message name="retrieveAppointmentByPatientIdentityNoResponse">
<part name="parameters" element="tns:retrieveAppointmentByPatientIdentityNoResponse"/>
</message>
<message name="retrieveDoctorAvailableSlotsOnDay">
<part name="parameters" element="tns:retrieveDoctorAvailableSlotsOnDay"/>
</message>
<message name="retrieveDoctorAvailableSlotsOnDayResponse">
<part name="parameters" element="tns:retrieveDoctorAvailableSlotsOnDayResponse"/>
</message>
<portType name="IS2103Assignment2WebService">
<operation name="patientLogin">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/patientLoginRequest" message="tns:patientLogin"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/patientLoginResponse" message="tns:patientLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/patientLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/patientLogin/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="createNewPatient">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewPatientRequest" message="tns:createNewPatient"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewPatientResponse" message="tns:createNewPatientResponse"/>
<fault message="tns:EntityInstanceExistsInCollectionException" name="EntityInstanceExistsInCollectionException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewPatient/Fault/EntityInstanceExistsInCollectionException"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewPatient/Fault/NoSuchAlgorithmException"/>
</operation>
<operation name="createNewAppointment">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewAppointmentRequest" message="tns:createNewAppointment"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewAppointmentResponse" message="tns:createNewAppointmentResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewAppointment/Fault/DoctorNotFoundException"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/createNewAppointment/Fault/PatientNotFoundException"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointment/Fault/AppointmentNotFoundException"/>
<fault message="tns:AppointmentAlreadyCancelledException" name="AppointmentAlreadyCancelledException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointment/Fault/AppointmentAlreadyCancelledException"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointment/Fault/DoctorNotFoundException"/>
<fault message="tns:EntityMismatchException" name="EntityMismatchException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/cancelAppointment/Fault/EntityMismatchException"/>
</operation>
<operation name="retrieveDoctorByDoctorId">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorByDoctorIdRequest" message="tns:retrieveDoctorByDoctorId"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorByDoctorIdResponse" message="tns:retrieveDoctorByDoctorIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorByDoctorId/Fault/DoctorNotFoundException"/>
</operation>
<operation name="retrieveDoctorsAvailableOnDate">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorsAvailableOnDateRequest" message="tns:retrieveDoctorsAvailableOnDate"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorsAvailableOnDateResponse" message="tns:retrieveDoctorsAvailableOnDateResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorsAvailableOnDate/Fault/DoctorNotFoundException"/>
</operation>
<operation name="retrieveAppointmentByPatientIdentityNo">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveAppointmentByPatientIdentityNoRequest" message="tns:retrieveAppointmentByPatientIdentityNo"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveAppointmentByPatientIdentityNoResponse" message="tns:retrieveAppointmentByPatientIdentityNoResponse"/>
</operation>
<operation name="retrieveDoctorAvailableSlotsOnDay">
<input wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorAvailableSlotsOnDayRequest" message="tns:retrieveDoctorAvailableSlotsOnDay"/>
<output wsam:Action="http://ws.session.ejb/IS2103Assignment2WebService/retrieveDoctorAvailableSlotsOnDayResponse" message="tns:retrieveDoctorAvailableSlotsOnDayResponse"/>
</operation>
</portType>
<binding name="IS2103Assignment2WebServicePortBinding" type="tns:IS2103Assignment2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="patientLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="createNewPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EntityInstanceExistsInCollectionException">
<soap:fault name="EntityInstanceExistsInCollectionException" use="literal"/>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
</operation>
<operation name="createNewAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
<fault name="AppointmentAlreadyCancelledException">
<soap:fault name="AppointmentAlreadyCancelledException" use="literal"/>
</fault>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
<fault name="EntityMismatchException">
<soap:fault name="EntityMismatchException" use="literal"/>
</fault>
</operation>
<operation name="retrieveDoctorByDoctorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveDoctorsAvailableOnDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentByPatientIdentityNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDoctorAvailableSlotsOnDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IS2103Assignment2WebService">
<port name="IS2103Assignment2WebServicePort" binding="tns:IS2103Assignment2WebServicePortBinding">
<soap:address location="http://localhost:8080/IS2103Assignment2WebService/IS2103Assignment2WebService"/>
</port>
</service>
</definitions>